@font-face {
    font-family: 'Agency FB Black';
    src: url('https://cdn.jsdelivr.net/gh/olivier3lanc/cinematics-resources@master/furiosa/fonts/AgencyFBBlack.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/olivier3lanc/cinematics-resources@master/furiosa/fonts/AgencyFBBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Agency FB Regular';
    src: url('https://cdn.jsdelivr.net/gh/olivier3lanc/cinematics-resources@master/furiosa/fonts/AgencyFB-Reg.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/olivier3lanc/cinematics-resources@master/furiosa/fonts/AgencyFB-Reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html,
body {
    font-family: 'Agency FB Regular', sans-serif;
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    scrollbar-color: #ffcd1c black;
}

header {
    background-color: #1c1c1c;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 2em;
    color: #f4c542; /* لون ذهبي يعكس اسم الموقع */
}

#search-bar {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: #222;
    color: #fff;
}

.movie-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* تصغير حجم الأعمدة لتناسب المزيد من الأفلام */
    gap: 20px;
    padding: 20px;
}

.movie-card {
    aspect-ratio: 9/14;
    background-color: #1c1c1c;
    border-radius: 10px;
    overflow: hidden;
    transform-style: preserve-3d;
    transition: transform 1s;
    cursor: pointer;
}

.movie-card img {
    width: 100%;
    height: auto;
    display: block;
}

.movie-card:hover {
    animation: spin360 1s infinite;
    transform: rotateY(360deg);
}

.movie-card h2 {
    font-family: 'Agency FB Black';
    font-size: 1.2em;
    text-align: center;
    color: #f4c542;
    margin: 10px 0;
}

.details-btn {
    background-color: #f4c542;
    border: none;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.details-btn:hover {
    background-color: #d1a935;
}