body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2em;
}

#movie-details {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#movie-details h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #ffcc00;
}

#movie-details video {
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
}

.movie-item {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.movie-item img {
    width: 150px;
    height: 220px;
    border-radius: 8px;
    transition: transform 0.3s;
}

.movie-item img:hover {
    transform: scale(1.05);
}
